<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Position tracking</title>
    <link rel="shortcut icon" href="https://www.vhv.rs/dpng/d/429-4295429_google-maps-pin-png-google-maps-marker-transparent.png" type="image/x-icon">

</head>

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
</style>


<body>

    <div style="
    display: flex;
    align-items: center;
    text-align: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;">
        <div class="logo" style="text-align: center;">
            <img style="height: 90px; " src="https://cdn.dribbble.com/users/1011558/screenshots/10951770/dataox-icons_animation-dribbble-1600x1200-compressed.png?compress=1&resize=400x300" alt="logo">
        </div>

        <div class="text">
            <h3 style="margin: 10px 0;font-size:2rem;margin-top: 5rem;">
                <%= message %>
            </h3>
            <p style="margin: 0; ">Application de partage de position en temps réel</p>
        </div>

        <div class="btns ">

        </div>
    </div>
</body>

</html>